body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #007acc;
    color: white;
    padding: 1em 0;
    text-align: center;
}
section {
    margin: 20px auto;
    width: 80%;
}
.profil-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
}
.logo {
    width: 120px; /* Largeur du logo */
    height: auto; /* Garde les proportions */
    border-radius: 8px; /* Coins arrondis */
    border: 2px solid #ddd; /* Bordure grise fine */
}
